.index {
    background-color: #fff;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .tab {
        width: 100%;
        height: 88px;
        visibility: hidden;
        position: absolute;
        z-index: 20;
    }
  
    .list {
        height: 100%;
        text-align: center;
        .list_top {
            height: 388px;
            .list_top {
                height: 300px;
            }
            .list_top_tab {
                display: flex;
                flex-direction: row;
                visibility: visible;
                z-index: 15;
            }
            .item {
                height: 300px;
            }
        }
        // .safeArea {
        //   height: constant(safe-area-inset-bottom);
        //   height: env(safe-area-inset-bottom);
        //   background: #fff;
        // }
    }
  }

    